.cta-button {
    color: white;
    border:none;
    border-radius: 32px;
    background-color: var(--color-primary);
    cursor: pointer;

    &:hover {
        background-color: var(--color-green-light);
        transition: all 0.3s ease-in-out;
        transform: all 0.3s ease-in-out;
    }
}

@media screen and (min-width: 360px) {
    .cta-button {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}

@media screen and (min-width: 768PX) {
    .cta-button {
        font-size: 1.1rem;
        padding: 1rem 2rem;
    }
}